@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
* { box-sizing: border-box; }

body { margin: 0 auto; padding: 0; }

.cards { height: 100vh; width: 100vw; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; font-family: 'Lato', sans-serif; font-weight: 700; position: absolute; overflow: hidden; }

.cards:hover > * { opacity: .5; }

.cards .card { min-width: 325px; background-repeat: no-repeat; display: -ms-flexbox; display: flex; background-size: cover; background-position: center; -ms-flex-direction: column; flex-direction: column; height: 100%; text-decoration: none; transition: 0.4s ease-in-out; }

.cards .card:hover { opacity: 1; transform: scale(1.03); z-index: 1; }

.cards .card .card__content { height: 100%; width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.cards .card .card__content .card__content--text { text-align: center; color: #ffffff; text-transform: uppercase; position: absolute; bottom: 75px; }

.cards .card__first { background-image: url("../images/prostokat1.png"); width: 100%; }

.cards .card__second { background-image: url("../images/prostokat2.png"); width: 100%; margin-left: 4px; margin-right: 4px; }

.cards .card__third { background-image: url("../images/prostokat3.png"); width: 100%; }

@media screen and (max-width: 1260px) { .cards .card__content img { transform: scale(0.8); }
  .cards .card__content .card__content--text { font-size: 0.9rem; } }

@media screen and (max-width: 1070px) { .cards__content img { transform: scale(0.7); }
  .cards__content .card__content--text { font-size: 0.8rem; } }

@media screen and (max-width: 980px) { .cards .card { min-width: 285px; }
  .cards .card__content img { transform: scale(0.65); }
  .cards .card__content .card__content--text { font-size: 0.75rem; } }

@media screen and (max-width: 865px) { .cards .card { min-width: 255px; }
  .cards .card__content img { transform: scale(0.6); }
  .cards .card__content .card__content--text { font-size: 0.65rem; } }

@media screen and (max-width: 775px) { .cards .card { min-width: 235px; }
  .cards .card__content img { transform: scale(0.55); }
  .cards .card__content .card__content--text { font-size: 0.6rem; } }

@media screen and (max-width: 715px) { .cards { -ms-flex-direction: column; flex-direction: column; }
  .cards .card__second { margin-left: 0px; margin-right: 0px; background-position-y: -200px; }
  .card__content--text { display: none; } }

@media (max-width: 824px) and (orientation: landscape) { .cards .card .card__content .card__content--text { bottom: 45px; } }

@media (max-width: 813px) and (orientation: landscape) { .cards .card .card__content .card__content--text { bottom: 35px; } }

@media (max-width: 716px) and (orientation: landscape) { .cards .card .card__content img { transform: scale(0.45); } }

@media (max-width: 668px) and (orientation: landscape) { .cards .card .card__content img { transform: scale(0.45); } }

@media (max-width: 668px) and (orientation: landscape) { .cards .card .card__content img { transform: scale(0.4); } }
